.linkStyle{
    text-decoration: none!important;
    text-align: center;
}

.headingStyle{
   font-size: 150%!important;
   font-weight: 400!important;
}

.homeCard{
    align-self: center;
    height: 230px!important;
    width: 370px;
    margin-left: auto!important;
    margin-right: auto!important;
    margin-top: 20%;
    margin-right: 10%;
    transition: .3s transform cubic-bezier(.155,1.105,.295,1.12),.3s box-shadow,.3s -webkit-transform cubic-bezier(.155,1.105,.295,1.12);
    box-shadow: 0 2px 5px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.homeCard:hover{
    transform: scale(1.25);
    box-shadow: 0 10px 20px rgba(0,0,0,.12), 0 4px 8px rgba(0,0,0,.06);
}

.homeText{
    font-size: 120%;
    font-weight: 300;
    color: black!important;;
}
