.resume{
    margin-top: 50px;
}

.education{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    color: #17a2b8;

}

.skills{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 36.5px;
    color: #17a2b8;
}

.links{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #17a2b8;
}

.subHeadingContent{
    display: flex;  
    flex-direction: row; 
}

.skillsHeading{
    font-weight: 300;
    text-align: center;
    font-size: medium;
    margin-top: 5px ;
    margin-bottom: 5px;
    color: #17a2b8;
}

.subject{
    margin-left: 5px!important;
    margin-right: 5px!important;
}

.submitButton{
    width: 160px !important;
    background-color: #17a2b8!important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px!important;
    margin-bottom: 20px;
}